@import 'color';

#hero{
    background: $light;

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 90vh;
        width: 100%;
        z-index: 1;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;

        @include tablet{
            grid-template-columns: 1fr;
            height: 100%;
        }
        .herocontainer-left{
            width: 100%;
            line-height: 1.2;

            @include tablet{
                padding: 5rem 0;
            }
            @include mobile{
                line-height: 1.5;
            }
            h1{
                font-size: 3rem;
                color: $line;

                @include mobile{
                    font-size: 1.5rem;
                }
            }
            h2{
                font-size: 1.7rem;
                color: $dark;

                @include mobile{
                    font-size: 1rem;
                }
            }
            p{
                font-size: 1rem;
                color: $dark;
                margin-top: 1rem;
                font-weight: 800;

                @include mobile{
                    font-size: 0.7rem;
                }
            }
            .hero-container-btn{
                font-size: 1.7rem;
                background-color: $line;
                padding: 7px 32px;
                border: none;
                color: $light;
                outline: none;
                margin-top: 2rem;
                cursor: pointer;
                transition: all 0.3s;
                position: relative;
                overflow: hidden;

                a{
                    position: relative;
                    z-index: 2;
                    color: $light;
                }
                &:after{
                    position: absolute;
                    content:'';
                    z-index: 1;
                    top: 0;
                    left: -30px;
                    width: 0;
                    height: 100%;
                    border-radius: 50%;
                    background: $orangeRed;
                    transition: all 0.6s;
                }
                &:hover::after{
                    border-radius: 0;
                    width: 150%;
                }
                @include mobile{
                    font-size: 1.3rem;
                    padding: 7px 15px;

                }
            }
        }
        .herocontainer-right{
            text-align: center;
            .hero-image-container{
                height: 100%;
                width: 100%;
            }
        }

    }
} 